<!DOCTYPE html>
<html>
  <%- include('_head') %>
  <body>
    <!-- HEADER -->
    <%- include('_header') %>
    <!-- CONTENT -->
    <main class="main">
      <div class="user-view">
        <%- include('_side__menu') %>
        
        <div class="user-view__content">
        <div class="user-view__form-container">
          <h2 class="heading-secondary">Edit student <%= record.user.uid %> course <%= record.course.course_id %> Record</h2>
          <form class="form form-update-record">
            <div class="form__group">
              <label class="form__label" for="mark">Mark</label>
              <input class="form__input" type="number" id="mark" name="mark" value="<%= record.mark %>" >
            </div>
            <div class="form__group">
              <label class="form__label" for="status">Status</label>
              <select id="status" class="form__input" name="status" required>
                <option value="" selected disabled hidden>Choose here</option>
                <option value="completed">Completed</option>
                <option value="in progress">In Progress</option>
                <option value="dropped">Dropped</option>
              </select><br>
            </div>
            <div class="form__group">
              <label class="form__label" for="year">Year</label>
              <input class="form__input" type="number" id="year" name="year" value="<%= record.year %>" required>
            </div>
            <div class="form__group">
              <label class="form__label" for="comments">comments</label>
              <input class="form__input" type="text" id="comments" name="comments" value="<%= record.comments %>" >
            </div>
            <div class="form__group right">
              <button class="btn btn--small btn--green" type="submit">Save settings</button>
            </div>
          </form>
        </div>
        </div>
      </div>
    </main>
    <!-- FOOTER -->
    <%- include('_footer') %>
  </body>
</html> 